<ion-header>
  <ion-toolbar mode="md">
    <ion-title color="dark">
      <span>Home</span>
      <ion-icon color="dark" name="chevron-down"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Do not Repeat yourself -->

<ion-content>

<!-- Make sure that is declared in the home.module.ts before importing it form the component a number
of steps need to be completed before this made 
1.create the component page
2. refactor the code so your not repeating yourself
3. declare it in the ngModule
4. app-banner imported -->


<app-banner></app-banner>

<ion-list>
  <ion-list-header class="ion-margin-bottom">
    <ion-label>
      <h4>Restaurants Nearby</h4>
      <p>Discover unique foodstalls near you</p>
    </ion-label>
  </ion-list-header>
  <app-restaurant></app-restaurant>
</ion-list>

</ion-content>
